@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body, :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1919;

  overflow: hidden;
}

@font-face {
  font-family: 'NeueHaasGroteskDisplay';
  src: url('/fonts/NeueHaasGrotesk-DisplayBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}




.title{
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 200;
}
